POSTGRES_USER = ft
POSTGRES_PASSWORD = ft_pass
POSTGRES_DATABASE = ft
POSTGRES_DB = ft
POSTGRES_PORT = 5432
POSTGRES_HOST = db
DATABASE_SYNCHORNIZE = false
PROJECT_NAME = Bloggers of the World
PROJECT_DESCRIPTION = First project at Fortech 
PROJECT_VERSION = 0.1.0
BACKEND_API_PORT = 8000
SALT_OR_ROUNDS = 10
JWT_ACCESS_SECRET = secret
JWT_REFRESH_SECRET = secret