POSTGRES_USER = ft
POSTGRES_PASSWORD = ft_pass
POSTGRES_DATABASE = ft
POSTGRES_DB = ft
POSTGRES_PORT = 5432
POSTGRES_HOST = db
PROJECT_NAME = Fortech user CRUD
PROJECT_DESCRIPTION = 
PROJECT_VERSION = 0.1.0
BACKEND_API_PORT = 8000
